@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap');
@import './variables.scss';
@import './fonts.scss';

body,
html {
    font-family: 'Product Sans' !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span {
        font-family: 'Product Sans' !important;
    }
}